[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = 1aace95
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/DLee0102/glfw.git
	branch = dev
